<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <!-- 苹果手机设置Web应用是否以全屏模式运行 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 移动web页面自动探测电话号码 -->
    <meta name="format-detection" content="telephone=no">
    <title>充值</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/mr_style.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body class="page-report-submit">

<header id="header" class="">
    <div class="icon-back" onclick="history.back()"></div>
    <h5>充值</h5>
</header>

<div class="container">
    <div class="main">
        <img src="images/icon_rechange.png">
        <h3>充值完成!</h3>
        <div class="prompt-txt"><div class="rechange-txt">您已获得<span>经销商</span>权限了！</div></div>
    </div>

    <div class="btn-box">
        <a href="" class="btn btn-blue">完成</a>
    </div>
</div>



<footer id="footer-nav"></footer>
<script type="text/javascript">var footerNav =  5;</script>
<script type="text/javascript" src="js/footer.js"></script>

</body>
</html>