<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <!-- 苹果手机设置Web应用是否以全屏模式运行 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 移动web页面自动探测电话号码 -->
    <meta name="format-detection" content="telephone=no">
    <title>分销中心</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/mr_style.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body class="page-dcom">

<header id="header" class="">
    <div class="icon-back" onclick="history.back()"></div>
    <h5>分销中心</h5>
</header>

<div class="container">
    <div class="top">
        <div class="top-left">
            <div class="avatar">
                <img src="images/prod6.png">
            </div>
            <div class="name-info">
                <div class="name">点点的光</div>
                <div class="tel">132****3157</div>
            </div>
        </div>
        <div class="top-right">
            <img src="images/icon_jing.png">
        </div>
    </div>
    <div class="yongjin">
        <div class="yongjin-lf">
            <div class="num"><span>3000.00</span></div>
            <div class="name">累计佣金</div>
        </div>
        <div class="yongjin-right">
            <a href="distr_canWithdraw.html">
                <div class="num">
                    <span>3000.00</span>
                    <div class="name">可提现金额</div>
                </div>
                <div class="more"></div>
            </a>
        </div>
    </div>

    <div class="box">
        <ul>
            <li class="income">
                <a href="distr_income.html">
                    <div class="income-lf">
                        <img src="images/icon_shouru.png">
                        <span>我的收入</span>
                    </div>
                    <div class="income-right">
                        <div class="more"></div>
                    </div>
                </a>
            </li>
            <li class="income">
                <a href="withdrawal-detail.html">
                    <div class="income-lf">
                        <img src="images/icon_tixian.png">
                        <span>提现明细</span>
                    </div>
                    <div class="income-right">
                        <div class="more"></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="box">
        <ul>
            <li class="income">
                <a href="invite-friends.html">
                    <div class="income-lf">
                        <img src="images/icon_haoyou.png">
                        <span>邀请好友</span>
                    </div>
                    <div class="income-right">
                        <div class="more"></div>
                    </div>
                </a>
            </li>
            <li class="income">
                <a href="mine-invite.html">
                    <div class="income-lf">
                        <img src="images/icon_yaoqing.png">
                        <span>我的邀请</span>
                    </div>
                    <div class="income-right">
                        <div class="more"></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div class="box">
        <ul>
            <li class="income">
                <a href="mine_direct.html">
                    <div class="income-lf">
                        <img src="images/icon_zhitui.png">
                        <span>我的直推</span>
                    </div>
                    <div class="income-right">
                        <div class="more"></div>
                    </div>
                </a>
            </li>
            <li class="income">
                <a href="mine-team.html">
                    <div class="income-lf">
                        <img src="images/icon_tuandui.png">
                        <span>我的团队</span>
                    </div>
                    <div class="income-right">
                        <div class="more"></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="box">
        <ul>
            <li class="income">
                <a href="">
                    <div class="income-lf">
                        <img src="images/icon_jinhuo.png">
                        <span>我要进货</span>
                    </div>
                    <div class="income-right">
                        <div class="more"></div>
                    </div>
                </a>
            </li>
            <li class="income">
                <a href="level-description.html">
                    <div class="income-lf">
                        <img src="images/icon_dengji.png">
                        <span>等级说明</span>
                    </div>
                    <div class="income-right">
                        <div class="more"></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="box">
        <ul>
            <li class="income">
                <a href="">
                    <div class="income-lf">
                        <img src="images/icon_baodanziliao.png">
                        <span>报单资料</span>
                    </div>
                    <div class="income-right">
                        <div class="more"></div>
                    </div>
                </a>
            </li>
            <li class="income">
                <a href="level-description.html">
                    <div class="income-lf">
                        <img src="images/icon_baodanbi.png">
                        <span>报单管理</span>
                    </div>
                    <div class="income-right">
                        <div class="more"></div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<footer id="footer-nav"></footer>
<script type="text/javascript">var footerNav =  4;</script>
<script type="text/javascript" src="js/footer.js"></script>

</body>
</html>