<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <!-- 苹果手机设置Web应用是否以全屏模式运行 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 移动web页面自动探测电话号码 -->
    <meta name="format-detection" content="telephone=no">
    <title>收货地址</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/mr_style.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body class="page-address">

<header id="header" class="">
    <div class="icon-back" onclick="history.back()"></div>
    <h5>地址管理</h5>
</header>

<div class="container">
     <div class="no-data">
        <div class="icon"></div>
        <p>您暂时还没有收货地址哦</p>
    </div>

    <div class="main">
        <div class="top-line"></div>
        <ul class="box-con ">
            <li class="box">
                    <div class="tit flex-row">
                        <div class="name">陈瑞</div>
                        <!--<div class="default_address">默认</div>-->
                        <div class="tel">13627897865</div>
                    </div>
                    <div class="context">
                        <!--<div class="tel">13627897865</div>-->
                        <div class="address">武汉市洪山区光谷当代梦工厂</div>
                    </div>
                <div class="box-right">
                    <!--<div class="icon"></div>-->
                    <label for="dz1" class="change-ads flex-row on">
                        <input type="radio" name="default_address" id="dz1" value="" >
                        <span></span>
                        <p>默认地址</p>
                    </label>
                    <div class="right flex-row">
                        <div class="del flex-row">
                            <div class="icon"></div>
                            <p>删除</p>
                        </div>
                        <div class="edit flex-row">
                            <div class="icon"></div>
                            <p>编辑</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="box">
                    <div class="tit flex-row">
                        <div class="name">陈瑞</div>
                        <div class="tel">13627897865</div>
                    </div>
                    <div class="context">
                        <div class="address">武汉市洪山区光谷当代梦工厂武汉市洪山区光谷当代梦工厂</div>
                    </div>
                <div class="box-right">
                    <label for="dz1" class="change-ads flex-row">
                        <input type="radio" name="default_address" id="" value="" >
                        <span></span>
                        <p>默认地址</p>
                    </label>
                    <div class="icon"></div>
                    <div class="right flex-row">
                        <div class="del flex-row">
                            <div class="icon"></div>
                            <p>删除</p>
                        </div>
                        <div class="edit flex-row">
                            <a href="#">
                                <div class="icon"></div>
                                <p>编辑</p>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="box">
                <div class="tit flex-row">
                    <div class="name">陈瑞</div>
                    <div class="tel">13627897865</div>
                </div>
                <div class="context">
                    <div class="address">武汉市洪山区光谷当代梦工厂武汉市洪山区光谷当代梦工厂</div>
                </div>
                <div class="box-right">
                    <label for="dz1" class="change-ads flex-row">
                        <input type="radio" name="default_address" id="" value="" >
                        <span></span>
                        <p>默认地址</p>
                    </label>
                    <div class="icon"></div>
                    <div class="right flex-row">
                        <div class="del flex-row">
                            <div class="icon"></div>
                            <p>删除</p>
                        </div>
                        <div class="edit flex-row">
                            <a href="#">
                                <div class="icon"></div>
                                <p>编辑</p>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="box">
                <div class="tit flex-row">
                    <div class="name">陈瑞</div>
                    <div class="tel">13627897865</div>
                </div>
                <div class="context">
                    <div class="address">武汉市洪山区光谷当代梦工厂武汉市洪山区光谷当代梦工厂</div>
                </div>
                <div class="box-right">
                    <label for="dz1" class="change-ads flex-row">
                        <input type="radio" name="default_address" id="" value="" >
                        <span></span>
                        <p>默认地址</p>
                    </label>
                    <div class="icon"></div>
                    <div class="right flex-row">
                        <div class="del flex-row">
                            <div class="icon"></div>
                            <p>删除</p>
                        </div>
                        <div class="edit flex-row">
                            <a href="#">
                                <div class="icon"></div>
                                <p>编辑</p>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="box">
                <div class="tit flex-row">
                    <div class="name">陈瑞</div>
                    <div class="tel">13627897865</div>
                </div>
                <div class="context">
                    <div class="address">武汉市洪山区光谷当代梦工厂武汉市洪山区光谷当代梦工厂</div>
                </div>
                <div class="box-right">
                    <label for="dz1" class="change-ads flex-row">
                        <input type="radio" name="default_address" id="" value="" >
                        <span></span>
                        <p>默认地址</p>
                    </label>
                    <div class="icon"></div>
                    <div class="right flex-row">
                        <div class="del flex-row">
                            <div class="icon"></div>
                            <p>删除</p>
                        </div>
                        <div class="edit flex-row">
                            <a href="#">
                                <div class="icon"></div>
                                <p>编辑</p>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

    </div>

</div>

<div class="add-address">
    <a href="mine_address_edit.html" class="add add-ads" title="">+ 新建收货地址</a>
</div>

<div class="submit-dialog"></div>
<div class="submit-dialog-con">
    <div class="submit-dialog-tit">
        提示
    </div>
    <div class="submit-dialog-txt">
        确定删除？
    </div>
    <div class="submit-dialog-btn">
        <div class="submit-dialog-cancel">取消</div>
        <div class="submit-dialog-confirm">确定</div>
    </div>
</div>

</body>

<script>

    $(function(){

        $('.page-address .box-right .del').on('click', function(){
            var box = $(this).closest(".box")
            $(".page-address .submit-dialog").show()
            $(".page-address .submit-dialog-con").show()
            // $(this).closest(".box").remove()
            // boxlen()
            $('.page-address .submit-dialog-btn .submit-dialog-cancel').on('click', function(){
                $(".page-address .submit-dialog").hide()
                $(".page-address .submit-dialog-con").hide()
            })
            $('.page-address .submit-dialog-btn .submit-dialog-confirm').on('click', function(){
                $(".page-address .submit-dialog").hide()
                $(".page-address .submit-dialog-con").hide()
                box.remove()
                boxlen()
            })
        })

        $(function(){
            //设为默认地址
            $('.page-address .change-ads input').on('change', function(){
                console.log("111")
                $('.page-address .change-ads').removeClass('on')
                $(this).parent().addClass('on')
            })
        })

        /*$('.page-address .submit-dialog-btn .submit-dialog-cancel').on('click', function(){
            $(".page-address .submit-dialog").hide()
            $(".page-address .submit-dialog-con").hide()
        })
        $('.page-address .submit-dialog-btn .submit-dialog-confirm').on('click', function(){
            $(".page-address .submit-dialog").hide()
            $(".page-address .submit-dialog-con").hide()
            $(this).closest(".box").remove()
            boxlen()
        })*/
    })
    boxlen()
    function boxlen() {
        console.log($(".page-address .box").length)
        if($(".page-address .box").length == 0){
            $(".page-address .main").hide()
            $(".page-address .no-data").show()
        }else {
            $(".page-address .main").show()
            $(".page-address .no-data").hide()
        }
    }
    /*if ($(".page-address .box").length >3) {
        $(".page-address .add").removeClass("add-ads")
        $(".page-address .add").addClass("add-ads-more")
    }else {
        $(".page-address .add").removeClass("add-ads-more")
        $(".page-address .add").addClass("add-ads")
    }*/

</script>
</html>