<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <!-- 苹果手机设置Web应用是否以全屏模式运行 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- 移动web页面自动探测电话号码 -->
    <meta name="format-detection" content="telephone=no">
    <title>报单资料</title>
    <link rel="stylesheet" type="text/css" href="css/ui-dialog.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/mr_style.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body class="page-login page-reprot-infor">
<header id="header" class="">
    <div class="icon-back"></div>
    <h5>报单资料</h5>
</header>

<div class="container" id="all">
    <div class="main">
        <div class="tit">填写以下信息完成众美平身报单资料</div>
        <div class="inp-box flex-row">
            <div class="left">
                <input type="text" name="" id="username" value="" placeholder="请输入姓名">
            </div>
            <div class="icon i5"></div>
        </div>
        <div class="inp-box flex-row">
            <div class="left">
                <input type="text" name="" id="useridcard" value="" placeholder="请输入身份证号">
            </div>
            <div class="icon i6"></div>
        </div>
        <div class="inp-box flex-row">
            <div class="left">
                <input type="text" name="" id="userphone" value="" placeholder="请输入手机号码">
            </div>
            <div class="icon i1"></div>
        </div>
        <div class="yz-code flex-row">
            <div class="inp-box flex-row">
                <div class="left">
                    <input type="text" name="" id="yzcode" value="" placeholder="请输入验证码">
                </div>
                <div class="icon i4"></div>
            </div>
            <button id="vCode" type="button" class="code">获取验证码</button>
        </div>
        <div class="inp-box flex-row" v-if="!isShowPswFlag">
            <div class="left">
                <input type="password" v-model="pswValue" name="" id="psw" placeholder="6-16位密码，不区分大小写">
            </div>
            <div class="icon i2" @click="showPswFun"></div>
        </div>
        <div class="inp-box flex-row" v-if="isShowPswFlag">
            <div class="left">
                <input type="text" name="" v-model="pswValue"  value="" placeholder="6-16位密码，不区分大小写">
            </div>
            <div class="icon i3" @click="hidePswFun"></div>
        </div>

        <div class="inp-box flex-row" v-if="!isShowAgainPswFlag">
            <div class="left">
                <input type="password" v-model="againPswValue" name="" id="againPsw" placeholder="请确认登录密码">
            </div>
            <div class="icon i2" @click="showAgainPswFun"></div>
        </div>
        <div class="inp-box flex-row" v-if="isShowAgainPswFlag">
            <div class="left">
                <input type="text" name="" v-model="againPswValue"  value="" placeholder="请确认登录密码">
            </div>
            <div class="icon i3" @click="hideAgainPswFun"></div>
        </div>

        <!--<label class="ch flex-row" :class="isHyCodeFlag ? 'on':''" for="ishycode">
            <input type="checkbox" name="ishycode" id="ishycode" :checked="isHyCodeFlag" value="" @change="chooseFrindCode">
            <span></span>
            <p>好友邀请码</p>
        </label>
        <div class="inp-box flex-row">
            <div class="left">
                <input type="text" name="" id="hycode" value="" placeholder="">
            </div>
        </div>-->
    </div>

    <div class="btn-box">
        <button type="button" class="btn btn-submit">提交资料</button>
    </div>
</div>

</body>

<script type="text/javascript" src="js/dialog-plus-min.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script>

    $(function(){


        vm = new Vue({
            el: '#all',
            data: {
                isShowPswFlag: false, //是否显示密码
                isShowAgainPswFlag: false, //
                pswValue: '',
                againPswValue: '',
                isHyCodeFlag: true, //是否有好友邀请码
            },
            methods: {
                //显示密码
                showPswFun: function(){
                    this.isShowPswFlag = true;
                },
                hidePswFun: function(){
                    this.isShowPswFlag = false;
                },
                showAgainPswFun: function(){
                    this.isShowAgainPswFlag = true;
                },
                hideAgainPswFun: function(){
                    this.isShowAgainPswFlag = false;
                },
                /*改变是否有好友邀请码*/
                chooseFrindCode: function(e){
                    this.isHyCodeFlag = e.target.checked;
                }
            }
        })

        $('.btn-submit').on('click', function(){
            var flag = flagFun();
            if(flag){}
        })

        //获取验证码
        $('#vCode').on('touchstart', function(){
            if(!isTelFlag()){
                dialogFun('请输入您的手机号');
                return false;
            }
            var date = new Date();
            var d = date.toString();
            date.setMinutes(date.getMinutes() + 1);
            $.cookie('secondsremained', escape(d), {expires: date});
            setCoutDown(60);
        })
        //校验打开页面的时候是否要继续倒计时
        checkCountdown()
        function checkCountdown(){
            var secondsremained = $.cookie("secondsremained");
            if(secondsremained){
                var date = new Date(unescape(secondsremained));
                var nowDate = new Date();
                var time_difference = 60 - ((nowDate.getTime()- date.getTime())/1000).toFixed(0);
                setCoutDown(time_difference);
            }
        }
        //倒计时
        function setCoutDown(time){
            if(time <= 0){
                // $.cookie('secondsremained', '');
                $('#vCode').removeAttr('disabled');
                $('#vCode').html("获取验证码");
                $('#vCode').removeClass('has')
            }else{
                $('#vCode').attr('disabled', true);
                $('#vCode').html("重发(" + time + ")");
                $('#vCode').addClass('has')
                time--;
                setTimeout(function() { setCoutDown(time) },1000) //每1000毫秒执行一次
            }
        }

    })

    //判断是否都有输入
    function flagFun(){
        var username = $('#username').val();
        var useridcard = $('#useridcard').val();
        var userphone = $('#userphone').val();
        var yzcode = $('#yzcode').val();
        var psw = vm.$data.pswValue;
        var againPsw = vm.$data.againPswValue;
        if(username === ''){
            dialogFun('请输入姓名');
            return false;
        }
        if(useridcard === ''){
            dialogFun('请输入身份证号');
            return false;
        }
        if(userphone === ''){
            dialogFun('请输入您的手机号');
            return false;
        }
        if(yzcode === ''){
            dialogFun('请输入验证码');
            return false;
        }
        if(psw === ''){
            dialogFun('请输入密码');
            return false;
        }
        if(againPsw === ''){
            dialogFun('请再次输入密码');
            return false;
        }
        if(psw !== againPsw){
            dialogFun('两次输入的密码不一致');
            return false;
        }
        return true;
    }

    function isIdCardFlag(){
        var idcard = $('#useridcard').val();
        var reg = /^(^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$)|(^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])((\d{4})|\d{3}[Xx])$)$/;
        if(reg.test(idcard)){
            return true;
        }else{
            return false;
        }
    }

    function isTelFlag(){
        var tel = $('#userphone').val();
        var reg = /0?(13|14|15|17|18|19)[0-9]{9}/g;
        if(reg.test(tel)){
            return true;
        }else{
            return false;
        }
    }

    function dialogFun(str){
        dialog({
            width: 280,
            title: '提示',
            content: str,
            cancel: false,
            okValue: '确定',
            ok: function(){
            }
        }).showModal();
    }

</script>
</html>